<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">  
  
<hibernate-configuration>  
  
    <session-factory>  
        <property name="hbm2ddl.auto">create</property>
        <property name="hibernate.show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>  
        <property name="connection.url">jdbc:sqlserver://localhost;databaseName=BankDatabase;instance=SQLEXPRESS</property>  
        <property name="connection.username">sqluser</property>  
        <property name="connection.password">sqluser</property>  
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>  
    <mapping class="com.mybank.pojo.account.Account"/> 
    <mapping class="com.mybank.pojo.customer.Customer"/>   
    <mapping class="com.mybank.pojo.transaction.Transaction"/>     
    </session-factory>  
  
</hibernate-configuration>  
